{% extends "base.html" %}
{%block content%}
    <h2>유저 리스트</h2>
    <h4>{%if msg%}{{msg}}{%endif%}</h4>
    <table class="table table-hover nowrap text-center font-size-12">
      <thead>
        <th>ID</th>
        <th>유저이름</th>
        <th>이메일</th>
        <th>가입일</th>
        <th>페이플랜</th>
        <th>가격</th>
    </thead>
      {% for u in userDetails %}
      <tr>
        <td>{{u.user.id}}</td>
        <td>{{u.user.username}}</td>
        <td>{{u.user.email}}</td>
        <td>{{u.user.date_joined}}</td>
        <td>{{u.pay_plan.name}}</td>
        <td>{{u.pay_plan.price}}</td>
    </tr>
      {% endfor %}
  </table
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if userDetails.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?p={{userDetails.previous_page_number }}">이전으로</a>
      </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">이전으로</a>
      </li class="page-item">
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?p={{userDetails.number|add:1 }}">{{userDetails.number}}/{{userDetails.paginator.num_pages}}</a>
      </li>
        {% if userDetails.has_next %}
        <li class="page-item">
          <a class="page-link" href="?p={{userDetails.next_page_number }}">다음으로</a>
      </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="#">다음으로</a>
      </li>
        {% endif %}
    </ul>
  </nav>
    <p>
      <a href="{% url 'index' %}">홈으로</a>
      <a href="{% url 'register' %}">회원가입</a>
  </p>
{%endblock%}